src/user.config
src/user.mk
*.user
*.suo
release/
build/
obj/
tmp/
*.user
*.lock.json
*.suo
src/user.mk
*.log
src/config.json
src/build.json
tmp/
/.vs
/artifacts
**/bin
artifacts/
src/.vs/
src/packages/
**/_Ncrunch_*/
*.ncrunchsolution
*.ncrunchproject

nCrunchTemp*.*
