<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
	<add key="serilog:minimum-level" value="Debug" />
	<add key="serilog:write-to:Console" />
	<add key="serilog:write-to:ColoredConsole" />
	<add key="serilog:write-to:RollingFile.pathFormat" value="log-{Date}.txt" />
    </appSettings>
</configuration>