BODY {
				font: small verdana, arial, helvetica;
				color:#000000;
				}
				
				P {
				line-height:1.5em;
				margin-top:0.5em; margin-bottom:1.0em;
				}
				H1 {
   				MARGIN: 0px 0px 5px; 
   				FONT: bold larger arial, verdana, helvetica;
	   			
				}
				H2 {
	   			MARGIN-TOP: 1em; MARGIN-BOTTOM: 0.5em; 
	   			FONT: larger verdana,arial,helvetica
				}
				H3 {
		   		MARGIN-BOTTOM: 0.5em; FONT: bold 13px verdana,arial,helvetica
				}
				H4 {
				MARGIN-BOTTOM: 0.5em; FONT: bold 100% verdana,arial,helvetica
				}
				H5 {
   				MARGIN-BOTTOM: 0.5em; FONT: bold 100% verdana,arial,helvetica
				}
				H6 {
	   			MARGIN-BOTTOM: 0.5em; FONT: bold 100% verdana,arial,helvetica
				}	
				.notVisited {background:red; }
				.visited { background: #90ee90; }
                .title { font-size: 12px; font-weight: bold; }
                .assembly { font-size: normal;   font-weight: bold; font-size: 11px}
                .class {font-size:normal; cursor: hand; color: #444444; font-size: 11px}
                .module { color: navy; font-size: 12px; }
                .method {cursor: hand; color: ; font-size: 10px; font-weight: bold; }
                .subtitle { color: black; font-size: 10px; font-weight: bold; }
                .hdrcell  {font-size:9px; background-color: #DDEEFF; }
                .datacell {font-size:9px; background-color: #FFFFEE; text-align: right; }
                .hldatacell {font-size:9px; background-color: #FFCCCC; text-align: right; }
                .detailProcent {  font-size: 9px; font-weight: bold; padding-top: 1px; padding-bottom: 1px; padding-left: 3px; padding-right: 3px;}

.csharpcode
{
	font-size: 10pt;
	color: black;
	font-family: Courier New , Courier, Monospace;
	background-color: #ffffff;
	/*white-space: pre;*/
}
.csharpcode pre { margin: 0px; }
.rem { color: #008000; }
.kwrd { color: #0000ff; }
.str { color: #006080; }
.op { color: #0000c0; }
.preproc { color: #cc6633; }
.asp { background-color: #ffff00; }
.html { color: #800000; }
.attr { color: #ff0000; }
.alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0px;
}
.lnum { color: #606060; }

body 
{
    font-family: verdana, arial, sans-serif
}

.navBar
{
    font-weight: normal; 
    font-size: 12px; 
    margin: 4px 4px 4px 0px; 
}

.navBarCurrent 
{
    padding: 2px;
    font-weight: bold; 
    color: #FFFFFF; 
    background-color:#00008B;
}

.navBarLink 
{
    font-weight: normal; 
    font-size: 10px; 
    padding-top:4px;
}


.menuLink
{
    font-weight: bold; 
    font-size: 12px; 
}

.titleText
{
    font-weight: bold;
    font-size: 12px;
    white-space: nowrap;
    padding: 0px;
    margin: 0px;
}

.list
{
    font-size: 12px;
    white-space: nowrap;
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

.reportHeader 
{
    background: #eff7ff; 
    padding: 5px 8px 5px 8px; 
    font-weight: bold; 
    font-size: 12px; 
    border: #dcdcdc 1px solid;
    margin: 0px;
}

.timestamp 
{
	font-size: 9px; 
	font-weight: normal; 
	padding: 0px;
	margin: 0px;
    white-space: nowrap;
}

.heading
{
	font-weight: bold; 
}

.coveragepct 
{
     font-style: italic;
}

.stats
{
    font-size: 10px;
    border-left: #dcdcdc 1px solid;
    white-space: nowrap;
    width: 40%;
}

.coverageTable
{
    font-size: 9px;
}

.graphHeader 
{
    background: #eff7ff; 
    border-bottom: #dcdcdc 1px solid; 
    border-top: #dcdcdc 1px solid;
    border-right: #dcdcdc 1px solid;
    text-align: center;
}

.graphHeaderLeft 
{
    background: #eff7ff; 
    border: #dcdcdc 1px solid; 
    font-weight: bold;
    padding-left: 5px;
}

.graphBarHeader 
{
    background: #eff7ff; 
    border-bottom: #dcdcdc 1px solid; 
    border-top: #dcdcdc 1px solid;
    border-right: #dcdcdc 1px solid;
    text-align: left;
    font-weight: bold;
}


.graphItem 
{
    background: #ffffff; 
    border-bottom: #dcdcdc 1px solid; 
    border-left: #dcdcdc 1px solid; 
    border-right: #dcdcdc 1px solid; 
    padding-left: 15px; 
    padding-right: 15px; 
    font-weight: bold; 
    font-size: 12px; 
}

.graphPercent 
{
    background: #ffffff; 
    border-bottom: #dcdcdc 1px solid; 
    border-right: #dcdcdc 1px solid;
    text-align: center;
    white-space: nowrap;
}

.graphBarLeft 
{
	background: #ffffff; 
	border-bottom: #dcdcdc 1px solid;
	font-weight: bold;  
    white-space: nowrap;
    text-align: right;
} 

.graphBar 
{
	background: #ffffff; 
	border-bottom: #dcdcdc 1px solid; 
	border-right: #dcdcdc 1px solid; 
} 

.empty 
{
	font-size: 2px; 
	background: #c0c0c0; 
	border:#9c9c9c 1px solid;
}

.fullcover 
{
	font-size: 2px; 
	background: #00df00; 
	border:#9c9c9c 1px solid;
}

.covered 
{
	font-size: 2px; 
	background: #00df00; 
	border-left:#9c9c9c 1px solid;
	border-top:#9c9c9c 1px solid;
	border-bottom:#9c9c9c 1px solid;
}

.uncovered 
{
	font-size: 2px; 
	background: #df0000; 
	border:#9c9c9c 1px solid;
}

.footer 
{
    border-top:#dcdcdc 1px solid;	 
    font-size: 9px;
    font-style: italic;
    white-space: nowrap;
}

.linkImage
{
    border: none;
}

.footerLink 
{
    font-style: normal;
}

.footerMessage 
{
    border-left: #dcdcdc 1px solid;	 
    font-style: normal;
    padding-left: 10px;
    margin-left: 10px;
}

.warning 
{ 
    border: solid 1px #000000; 
    color: #000000; 
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    width: 60%;
}

.warning .title 
{
    background-color: #ffff60;
    padding: 5px;
    margin: 0px;
    font-weight: bold;
    text-align: left;
    font-size: 12px;
}

.warning .message 
{ 
    background-color: #ffffe0; 
    color: #000000;
    padding-left: 30px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    padding-right: 30px;
    text-align: left;
    margin: 0px;
}

.srcView 
{
    font-size: 12px; 
    border:#dcdcdc 1px solid;
    margin-top: -1px;
    margin-right: 10px;
}

.srcLine 
{
    display: inline;
    white-space: pre;
    padding-left: 10px;
}

.srcLineWarning 
{
    background: #f0c8c8; 
    display: inline;
    white-space: pre;
    padding-left: 10px;
}

.classStartCell
{
    background: #ffffff; 
    border-top: #dcdcdc 1px solid; 
    padding-right: 10px;
    margin-top: 0px; 
    margin-bottom: 0px; 
    font-family: Courier New, Monospace;
    font-weight: bold;	
}

.srcCell
{
    background: #ffffff;
    padding-right: 10px;
    margin-top: 0px; 
    margin-bottom: 0px; 
    font-family: Courier New, Monospace;
}

.lineNumber 
{
    background: #f0f0f0; 
    border-right:#dcdcdc 1px solid;  
    padding-right: 3px;
    padding-left: 10px;
    text-align: right;
}

.lineNumberHilight 
{
    background: #c8c8f0; 
    border-right:#dcdcdc 1px solid; 
    padding-right: 3px;
    padding-left: 10px;
    text-align: right;
}

.lineWarning {
    background: #ffffa0; 
    border-right:#dcdcdc 1px solid; 
    padding-right: 3px;
    padding-left: 10px;
    text-align: right;
}

.coverageCount 
{
    background: #f0f0f0; 
    border-right:#dcdcdc 1px solid; 
    padding-right: 3px;
    padding-left: 10px;
    text-align: right;
}

.coverageCountWarning 
{
    background: #f0c8c8; 
    border-right:#dcdcdc 1px solid; 
    padding-right: 3px;
    padding-left: 10px;
    text-align: right;
}

.coverageCountHilight 
{
    background: #c8c8f0; 
    border-right:#dcdcdc 1px solid; 
    padding-right: 3px;
    padding-left: 10px;
    text-align: right;
}

.keyword 
{
    color: #0000FF;
}

.string 
{
    color: #A07070;
}

.lineComment 
{
    color: #008000; 
    font-style: italic;
}

.docComment 
{
    color: #808080; 
    font-style: italic;
}

.docContent
{
    color: #008000; 
}

.blockComment 
{
    color: #008000; 
    font-style: italic;
}

.ppdirec 
{
    color: #800080; 
    font-style: italic;
}

