<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
	<section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
    </configSections>
    <startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <castle>
	<components>
	    <!--- EXAMPLE CONFIGURATIONS -->
	    
	    <!-- DCMS SQL Source and External SQL Destination -->
	    <!--<component id="sourceProvider"
	      service="Spring2.Common.Storage.Blob.IBlobProvider, Spring2.Common.Storage" type="Spring2.Common.Storage.Blob.SqlBlobProvider, Spring2.Common.Storage">
		<parameters>
		    <connectionString>data source=.; initial catalog=MoldingBox; user id=sa; password=1qaz2wsx; MultipleActiveResultSets=True; transaction binding=Explicit Unbind;</connectionString>
		    <blobTable>Blob</blobTable>
		    <keyColumn>Key</keyColumn>
		    <dataColumn>Stream</dataColumn>
		</parameters>
	    </component>
	    <component id="destinationProvider"
	      service="Spring2.Common.Storage.Blob.IBlobProvider, Spring2.Common.Storage"
	      type="Spring2.Common.Storage.Blob.SqlBlobProvider, Spring2.Common.Storage">
		<parameters>
		    <connectionString>data source=.; initial catalog=BlobStorage; user id=sa; password=1qaz2wsx; MultipleActiveResultSets=True; transaction binding=Explicit Unbind;</connectionString>
		    <blobTable>Blob</blobTable>
		    <keyColumn>Key</keyColumn>
		    <dataColumn>Stream</dataColumn>
		</parameters>
	    </component>-->

	    <!-- DCMS SQL Source and File Destination -->
	    <!--<component id="sourceProvider"
	      service="Spring2.Common.Storage.Blob.IBlobProvider, Spring2.Common.Storage" type="Spring2.Common.Storage.Blob.SqlBlobProvider, Spring2.Common.Storage">
		<parameters>
		    <connectionString>data source=.; initial catalog=MoldingBox; user id=sa; password=1qaz2wsx; MultipleActiveResultSets=True; transaction binding=Explicit Unbind;</connectionString>
		    <blobTable>Blob</blobTable>
		    <keyColumn>Key</keyColumn>
		    <dataColumn>Stream</dataColumn>
		</parameters>
	    </component>	    
	    <component id="destinationProvider"
	      service="Spring2.Common.Storage.Blob.IBlobProvider, Spring2.Common.Storage" type="Spring2.Common.Storage.Blob.FileBlobProvider, Spring2.Common.Storage">
		<parameters>
		    <rootFolder>D:\TestImages</rootFolder>
		</parameters>
	    </component>-->

	    <!-- DCMS SQL Source and File Destination -->
	    <!--<component id="sourceProvider"
	      service="Spring2.Common.Storage.Blob.IBlobProvider, Spring2.Common.Storage" type="Spring2.Common.Storage.Blob.SqlBlobProvider, Spring2.Common.Storage">
		<parameters>
		    <connectionString>data source=.; initial catalog=MoldingBox; user id=sa; password=1qaz2wsx; MultipleActiveResultSets=True; transaction binding=Explicit Unbind;</connectionString>
		    <blobTable>Blob</blobTable>
		    <keyColumn>Key</keyColumn>
		    <dataColumn>Stream</dataColumn>
		</parameters>
	    </component>	    
	    <component id="destinationProvider"
	      service="Spring2.Common.Storage.Blob.IBlobProvider, Spring2.Common.Storage" type="Spring2.Common.Storage.Blob.FileBlobProvider, Spring2.Common.Storage">
		<parameters>
		    <rootFolder>D:\TestImages</rootFolder>
		</parameters>
	    </component>
	    <component id="destinationProvider"
	      service="Spring2.Common.Storage.Blob.IBlobProvider, Spring2.Common.Storage" type="Spring2.Common.Storage.Blob.AzureBlobProvider, Spring2.Common.Storage">
		<parameters>
		    <protocol>https</protocol>
		    <accountName>c6blob</accountName>
		    <accountKey>afM+JNzczKpAnr17zETsdh93ywdL7+hpMCMp64HyPelF1UylVLek6CawEbnhQLNjP+fe+WVZtuSjC2/U3h2w/g==</accountKey>
		    <containerName>container</containerName>
		</parameters>
	    </component>-->

	    <!-- External SQL Source and Azure Destination -->
	    <!--<component id="sourceProvider"
	      service="Spring2.Common.Storage.Blob.IBlobProvider, Spring2.Common.Storage" type="Spring2.Common.Storage.Blob.SqlBlobProvider, Spring2.Common.Storage">
		<parameters>
		    <connectionString>data source=.; initial catalog=BlobStorage; user id=sa; password=1qaz2wsx; MultipleActiveResultSets=True; transaction binding=Explicit Unbind;</connectionString>
		    <blobTable>Blob</blobTable>
		    <keyColumn>Key</keyColumn>
		    <dataColumn>Stream</dataColumn>
		</parameters>
	    </component>
	    <component id="destinationProvider"
	      service="Spring2.Common.Storage.Blob.IBlobProvider, Spring2.Common.Storage" type="Spring2.Common.Storage.Blob.AzureBlobProvider, Spring2.Common.Storage">
		<parameters>
		    <protocol>https</protocol>
		    <accountName>c6blob</accountName>
		    <accountKey>afM+JNzczKpAnr17zETsdh93ywdL7+hpMCMp64HyPelF1UylVLek6CawEbnhQLNjP+fe+WVZtuSjC2/U3h2w/g==</accountKey>
		    <containerName>container</containerName>
		</parameters>
	    </component>-->

	    <!-- Azure Source and External SQL Destination -->
	    <!--<component id="sourceProvider"
	      service="Spring2.Common.Storage.Blob.IBlobProvider, Spring2.Common.Storage" type="Spring2.Common.Storage.Blob.AzureBlobProvider, Spring2.Common.Storage">
		<parameters>
		    <protocol>https</protocol>
		    <accountName>c6blob</accountName>
		    <accountKey>afM+JNzczKpAnr17zETsdh93ywdL7+hpMCMp64HyPelF1UylVLek6CawEbnhQLNjP+fe+WVZtuSjC2/U3h2w/g==</accountKey>
		    <containerName>container</containerName>
		</parameters>
	    </component>
	    <component id="destinationProvider"
	      service="Spring2.Common.Storage.Blob.IBlobProvider, Spring2.Common.Storage" type="Spring2.Common.Storage.Blob.SqlBlobProvider, Spring2.Common.Storage">
		<parameters>
		    <connectionString>data source=.; initial catalog=BlobStorage; user id=sa; password=1qaz2wsx; MultipleActiveResultSets=True; transaction binding=Explicit Unbind;</connectionString>
		    <blobTable>Blob</blobTable>
		    <keyColumn>Key</keyColumn>
		    <dataColumn>Stream</dataColumn>
		</parameters>
	    </component>-->
	</components>
    </castle>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>